.tip-percentage-grid {
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-block-start: 0.5rem;
}

.tip-control {
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-block: 0.5rem;
}

.predefined-tip-percentage {
    color: white;
    background-color: #054349;
}

.custom-tip-control {
    color: black;
    background-color: #c1c1c1;
    font-weight: 500;
}

.predefined-tip-percentage.selected {
    color: black;
    background-color: #06ae9c;
}