.tip-percentage-grid {
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-block-start: 0.5rem;
}

.tip-control {
    border-radius: var(--border-radius);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-block: 0.5rem;
}

.predefined-tip-percentage {
    color: var(--gray_50);
    background-color: var(--green_900);
}

.custom-tip-control {
    color: var(--gray_500);
    background-color: var(--gray_50);
    font-weight: 500;
    padding-inline-start: 2rem;
}

.predefined-tip-percentage.selected {
    color: black;
    background-color: var(--green_400);
}